---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | David Ha" description="About David" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Me</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://source.unsplash.com/8mp8WSnkWb8/1400x350"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					Hello! My name is David Jeseung Ha and I am a rising Senior at Vanderbilt University majoring in Computer Science & Applied Mathematics. I was born in South Korea and moved to Orange County, CA when I was 8 years old and have lived in the United States ever since. 
					I was naturalized as a U.S. citizen in 2019. Fun fact about me is that I've lived in 3 different countries(United States, South Korea, and China) in my life.
				</p>
				<p>
					I only started programming once I arrived to college, but I fell in love with coding ever since. As an adept (CS 3251) Intermediate Software design Teaching Assistant at Vanderbilt University, I gained a well-rounded skill set in explaining concepts to students and honed talents in debugging students' code. 
					I am also passionate about web development and am intersted in optimization of a website and how using different frameworks/technologies can affect the performance of a website.
				</p>
				
				<p>
					 When I'm not coding, I enjoy playing sports(Basketball and Volleyball), listening to music, and playing video games. I also love exploring new places and trying new foods around Nashville or Socal with my friends.
				</p>
				<p>					
					Currently, I am looking for a full time role as a Software Engineer. Feel free to reach out to me in my email or LinkedIn!
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
